@import 'variables';

$background-color: #f9f9f9;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$border-color: rgba(0, 0, 0, 0.2);
$secondary-text-color: #c0c0c0;

.toolbar {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.toolbar img {
    margin: 0 16px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 100vw;
    margin: 20px;
}

.media-search-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.media-search-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 20px;
    width: 100%;
}

.menu-wrapper {
    display: flex;
    height: 60px;
    background: $background-color;
    width: 100%;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    margin-bottom: 15px;

    .menu-name {
        font-size: 12px;
        font-weight: bold;
        color: #b6b6b6;
    }

    .menu-type {
        color: $primary;
        font-weight: bold;
    }

    .sort-wrapper,
    .filter-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        border-right: 1px rgba(0, 0, 0, 0.2) solid;
        cursor: pointer;
    }

    .sort-container,
    .filter-container {
        position: relative;
        padding: 10px;
    }

    .sort-dropdown,
    .filter-dropdown {
        position: absolute;
        background: #fff;
        width: 300px;
        box-shadow: $box-shadow;
        padding: 10px;
        left: 0;
        top: 62px;

        .filter {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #fafafa;
            padding: 10px 0;
            color: #494949;
            font-weight: 400;

            &.selected {
                color: #97a6b6;
            }
        }
    }
}


.clear-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;

    .clear-text {
        color: #c0c0c0;
    }

    .clear-icon {
        color: #c0c0c0;
        transform: rotate(45deg);
    }
}

.sort-direction-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    border-left: 1px $border-color solid;
    width: 50px;
    cursor: pointer;

    .icon-container {
    }

    .sort-icon {
        color: #c0c0c0;
        font-size: 30px;
        width: 30px;
        height: 30px;
    }

    .direction-icon {
        position: absolute;
        left: 13px;
        top: 8px;
        width: 40px;
        height: 40px;
        color: #c0c0c0;
        font-size: 40px;
        transform: rotate(90deg);

        &.up {
            transform: rotate(-90deg);
        }
    }

    .clear-icon {

    }

    .direction-icon {
        position: absolute;
    }
}

.results {
    background: $background-color;
    box-shadow: $box-shadow;
    padding: 10px;
}
